@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@200;400;700&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
  font-family: Geologica;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: 400;
}

.text-primary {
  color: #073a59;
}

.bg-primary {
  background-color: #073a59;
}

.bc-primary {
  border: 5px solid #073a59;
}

.text-secondary {
  color: #436073;
}

.bg-secondary {
  background-color: #436073;
}

.bc-secondary {
  border: 5px solid #436073;
}

.text-success {
  color: #2ea690;
}

.bg-success {
  background-color: #2ea690;
}

.bc-success {
  border: 5px solid #2ea690;
}

.text-warning {
  color: #839C7d;
}

.bg-warning {
  background-color: #839C7d;
}

.bc-warning {
  border: 5px solid #839C7d;
}

.text-info {
  color: #f9f99a;
}

.bg-info {
  background-color: #f9f99a;
}

.bc-info {
  border: 5px solid #f9f99a;
}

.text-white {
  color: #f2f2f2;
}

.bg-white {
  background-color: #f2f2f2;
}

.bc-white {
  border: 5px solid #f2f2f2;
}

.text-black {
  color: #333333;
}

.bg-black {
  background-color: #333333;
}

.bc-black {
  border: 5px solid #333333;
}

.text-peach {
  color: rgb(252, 241, 228);
}

.bg-peach {
  background-color: rgb(252, 241, 228);
}

.bc-peach {
  border: 5px solid rgb(252, 241, 228);
}

.button {
  display: inline-block;
  font-weight: bold;
  border: none;
  padding: 15px;
  margin: 30px;
  border-radius: 6px;
  background-color: red;
}
.button:hover {
  background-color: #092536;
}

.button-primary {
  display: inline-block;
  font-weight: bold;
  border: none;
  padding: 15px;
  margin: 30px;
  border-radius: 6px;
  background-color: #073a59;
}
.button-primary:hover {
  background-color: #092536;
}
.button-primary:hover {
  background-color: #031b2a;
}

.button-secondary {
  display: inline-block;
  font-weight: bold;
  border: none;
  padding: 15px;
  margin: 30px;
  border-radius: 6px;
  background-color: #436073;
}
.button-secondary:hover {
  background-color: #092536;
}
.button-secondary:hover {
  background-color: #304553;
}

.button-success {
  display: inline-block;
  font-weight: bold;
  border: none;
  padding: 15px;
  margin: 30px;
  border-radius: 6px;
  background-color: #2ea690;
}
.button-success:hover {
  background-color: #092536;
}
.button-success:hover {
  background-color: #237e6d;
}

.button-warning {
  display: inline-block;
  font-weight: bold;
  border: none;
  padding: 15px;
  margin: 30px;
  border-radius: 6px;
  background-color: #839C7d;
}
.button-warning:hover {
  background-color: #092536;
}
.button-warning:hover {
  background-color: #698363;
}

.button-info {
  display: inline-block;
  font-weight: bold;
  border: none;
  padding: 15px;
  margin: 30px;
  border-radius: 6px;
  background-color: #f9f99a;
}
.button-info:hover {
  background-color: #092536;
}
.button-info:hover {
  background-color: #f6f66a;
}

.button-white {
  display: inline-block;
  font-weight: bold;
  border: none;
  padding: 15px;
  margin: 30px;
  border-radius: 6px;
  background-color: #f2f2f2;
}
.button-white:hover {
  background-color: #092536;
}
.button-white:hover {
  background-color: #d9d9d9;
}

.button-black {
  display: inline-block;
  font-weight: bold;
  border: none;
  padding: 15px;
  margin: 30px;
  border-radius: 6px;
  background-color: #333333;
}
.button-black:hover {
  background-color: #092536;
}
.button-black:hover {
  background-color: #1a1a1a;
}

.button-peach {
  display: inline-block;
  font-weight: bold;
  border: none;
  padding: 15px;
  margin: 30px;
  border-radius: 6px;
  background-color: rgb(252, 241, 228);
}
.button-peach:hover {
  background-color: #092536;
}
.button-peach:hover {
  background-color: #f7d9b6;
}

ul {
  list-style-type: disc;
  padding: 0;
}

ol {
  list-style-type: upper-roman;
  padding: 0;
}

.link {
  color: #436073;
}
.link:active {
  color: #2ea690;
}
.link:hover {
  color: #839C7d;
}

input[type=text] {
  width: 14rem;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=text]:focus {
  background-color: #436073;
  color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #436073;
  color: #f2f2f2;
}
tr:nth-child(odd) {
  color: #436073;
}

td, th {
  border: 2px solid #333;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 15px;
}

.p-2 {
  padding: 30px;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 15px;
}

.pl-2 {
  padding-left: 30px;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 15px;
}

.pr-2 {
  padding-right: 30px;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 15px;
}

.pt-2 {
  padding-top: 30px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 15px;
}

.pb-2 {
  padding-bottom: 30px;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 30px;
}

.m-2 {
  margin: 60px;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 30px;
}

.ml-2 {
  margin-left: 60px;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 30px;
}

.mr-2 {
  margin-right: 60px;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 30px;
}

.mt-2 {
  margin-top: 60px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 30px;
}

.mb-2 {
  margin-bottom: 60px;
}

.fs-sm {
  font-size: 0.667rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-lg {
  font-size: 1.5rem;
}

.fs-xl {
  font-size: 2.25rem;
}

.fs-xxl {
  font-size: 3.375rem;
}

.fs-xxxl {
  font-size: 4.225rem;
}

.fw-r {
  font-weight: 400;
}

.fw-l {
  font-weight: 200;
}

.fw-b {
  font-weight: 700;
}

.br {
  border-radius: 10px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 2.5px;
}

.br-sm {
  border-radius: 5px;
}

.br-lg {
  border-radius: 20px;
}

.br-full {
  border-radius: 50%;
}

.container {
  max-width: 72em;
  margin-inline: Auto;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-items {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}