@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@200;400;700&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
  font-family: Geologica;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.text-primary {
  color: #073a59;
}

.bg-primary {
  background-color: #073a59;
}

.text-secondary {
  color: #436073;
}

.bg-secondary {
  background-color: #436073;
}

.text-success {
  color: #2ea690;
}

.bg-success {
  background-color: #2ea690;
}

.text-warning {
  color: #839C7d;
}

.bg-warning {
  background-color: #839C7d;
}

.text-info {
  color: #F2f0d8;
}

.bg-info {
  background-color: #F2f0d8;
}

.button-primary-button {
  color: white;
  display: inline-block;
  font-weight: bold;
  border: none;
  padding: 15px;
  margin: 30px;
  border-radius: 6px;
  background-color: #073a59;
}
.button-primary-button:hover {
  background-color: #092536;
}

.button-secondary-button {
  color: black;
  display: inline-block;
  font-weight: bold;
  border: none;
  padding: 15px;
  margin: 30px;
  border-radius: 6px;
  background-color: #436073;
}
.button-secondary-button:hover {
  background-color: #334958;
  color: white;
}

.button-success-button {
  color: black;
  display: inline-block;
  font-weight: bold;
  border: none;
  padding: 15px;
  margin: 30px;
  border-radius: 6px;
  background-color: #2ea690;
}
.button-success-button:hover {
  background-color: #268c79;
  color: white;
}

.button-warning-button {
  color: black;
  display: inline-block;
  font-weight: bold;
  border: none;
  padding: 15px;
  margin: 30px;
  border-radius: 6px;
  background-color: #839C7d;
}
.button-warning-button:hover {
  background-color: #6f856a;
  color: white;
}

.button-info-button {
  color: black;
  display: inline-block;
  font-weight: bold;
  border: 1px rgb(200, 184, 146) solid;
  padding: 15px;
  margin: 30px;
  border-radius: 6px;
  background-color: #F2f0d8;
}
.button-info-button:hover {
  background-color: #cdcbb6;
}

.ul {
  list-style-type: disc;
  padding: 0;
}

.ol {
  list-style-type: upper-roman;
  padding: 0;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 15px;
}

.p-2 {
  padding: 30px;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 15px;
}

.pl-2 {
  padding-left: 30px;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 15px;
}

.pr-2 {
  padding-right: 30px;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 15px;
}

.pt-2 {
  padding-top: 30px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 15px;
}

.pb-2 {
  padding-bottom: 30px;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 30px;
}

.m-2 {
  margin: 60px;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 30px;
}

.ml-2 {
  margin-left: 60px;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 30px;
}

.mr-2 {
  margin-right: 60px;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 30px;
}

.mt-2 {
  margin-top: 60px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 30px;
}

.mb-2 {
  margin-bottom: 60px;
}

.fs-sm {
  font-size: 0.667rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-lg {
  font-size: 1.5rem;
}

.fs-xl {
  font-size: 2.25rem;
}

.fs-xxl {
  font-size: 3.375rem;
}

.fw-r {
  font-weight: 400;
}

.fw-l {
  font-weight: 200;
}

.fw-b {
  font-weight: 700;
}

.container {
  max-width: 56em;
  margin-inline: Auto;
}