// Layout 
.container {
    max-width: 72em;
    margin-inline: Auto;
}

// Alignment 
.justify-center {
    display: flex; 
    justify-content: center;
}

.align-items { 
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
    max-width: 200px;
}