// ------------------------- Create a @mixin for each style -------------------------

// PRIMARY BUTTON
@mixin button($bg-color: red) {
      display: inline-block;
      font-weight: bold;
      border: none; 
      padding: $padding;
      margin: $margin;
      border-radius: 6px;
      background-color: $bg-color;

      &:hover {
            background-color: #092536;
          }
    }

//     // SECONDARY BUTTON
// @mixin secondary-button($bg-color:#436073) {
//       color: black;
//       display: inline-block;
//       font-weight: bold;
//       border: none; 
//       padding: $padding;
//       margin: $margin;
//       border-radius: 6px;
//       background-color: $bg-color;

//       &:hover {
//             background-color: #334958;
//             color: white;
//           }
// }

// // SUCCESS BUTTON
// @mixin success-button($bg-color:#2ea690) {
//       color: black;
//       display: inline-block;
//       font-weight: bold;
//       border: none; 
//       padding: $padding;
//       margin: $margin;
//       border-radius: 6px;
//       background-color: $bg-color;

//       &:hover {
//             background-color: #268c79;
//             color: white;
//           }
// }

// // WARNING BUTTON
// @mixin warning-button($bg-color:#839C7d) {
//       color: black;
//       display: inline-block;
//       font-weight: bold;
//       border: none; 
//       padding: $padding;
//       margin: $margin;
//       border-radius: 6px;
//       background-color: $bg-color;

//       &:hover {
//             background-color: #6f856a;
//             color: white;
//           }
// }


// // INFO BUTTON
// @mixin info-button($bg-color:#F2f0d8) {
//       color: black;
//       display: inline-block;
//       font-weight: bold;
//       border: 1px rgb(200, 184, 146) solid; 
//       padding: $padding;
//       margin: $margin;
//       border-radius: 6px;
//       background-color: $bg-color;

//       &:hover {
//             background-color: #cdcbb6;
//           }
// }


// -------------------------  Apply the @mixin  -------------------------
 .button {
      @include button;
  }

// -------------------------  Loop for all buttons  -------------------------
@each $key, $val in $colors {
      .button-#{$key} {
            @include button($val);
            &:hover {
                  background-color: darken($val, 10);
            }
      }
}