@mixin primary-button($bg-color:#073a59) {
      text-decoration: none;
      color: white;
      display: inline-block;
      border: none; 
      padding: $padding;
      border-radius: 6px;
      background-color: $bg-color;

      &:hover {
            background-color: #092536;
          }
    }
    
    .button-primary-button {
      @include primary-button;
  }

  