@mixin primary-button($bg-color: red) {
      text-decoration: none;
      display: inline-block;
      border: none; 
      padding: $padding;
      border-radius: 6px;
      background-color: $bg-color;

      &:hover {
            background-color: blue;
          }
    }
    
    .button-primary-button {
      @include primary-button;
  }