// text input

input[type=text] {
    width: 14rem;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
// when selected it goes into a dark mode
    &:focus {
        background-color: $secondary;
        color: $white;
      }
}

form{
    margin: 10px;
}

// table
table{
    border-collapse: collapse;
    margin: 10px;
    // to remove gaps
}

tr {

    &:nth-child(even){
        background-color: $secondary;
        color: $white;
    }
    &:nth-child(odd){
        color: $secondary;
    }
}

td, th {
    border: 2px solid #333;
    padding: 8px;
}

th {

    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

